In [46]:
import pandas as pd

In [47]:
df=pd.read_csv("ozone.csv")
df

,Date,MaxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v,Vent,Pluie
0,20010601,87,15.6,18.5,18.4,4,4,8,0.6946,-1.7101,-0.6946,84,Nord,Sec
1,20010602,82,17.0,18.4,17.7,5,5,7,-4.3301,-4.0000,-3.0000,87,Nord,Sec
2,20010603,92,15.3,17.6,19.5,2,5,4,2.9544,1.8794,0.5209,82,Est,Sec
3,20010604,114,16.2,19.7,22.5,1,1,0,0.9848,0.3473,-0.1736,92,Nord,Sec
4,20010605,94,17.4,20.5,20.4,8,8,7,-0.5000,-2.9544,-4.3301,114,Ouest,Sec
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,20010925,84,13.3,17.7,17.8,3,5,6,0.0000,-1.0000,-1.2856,76,Sud,Sec
108,20010927,77,16.2,20.8,22.1,6,5,5,-0.6946,-2.0000,-1.3681,71,Sud,Pluie
109,20010928,99,16.9,23.0,22.6,6,4,7,1.5000,0.8682,0.8682,77,Sud,Sec
110,20010929,83,16.9,19.8,22.1,6,5,3,-4.0000,-3.7588,-4.0000,99,Ouest,Pluie
111,20010930,70,15.7,18.6,20.7,7,7,7,0.0000,-1.0419,-4.0000,83,Sud,Sec

In [48]:
df=df.drop(['Vent','Pluie'] , axis=1)

In [49]:
df

,Date,MaxO3,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v
0,20010601,87,15.6,18.5,18.4,4,4,8,0.6946,-1.7101,-0.6946,84
1,20010602,82,17.0,18.4,17.7,5,5,7,-4.3301,-4.0000,-3.0000,87
2,20010603,92,15.3,17.6,19.5,2,5,4,2.9544,1.8794,0.5209,82
3,20010604,114,16.2,19.7,22.5,1,1,0,0.9848,0.3473,-0.1736,92
4,20010605,94,17.4,20.5,20.4,8,8,7,-0.5000,-2.9544,-4.3301,114
...,...,...,...,...,...,...,...,...,...,...,...,...
107,20010925,84,13.3,17.7,17.8,3,5,6,0.0000,-1.0000,-1.2856,76
108,20010927,77,16.2,20.8,22.1,6,5,5,-0.6946,-2.0000,-1.3681,71
109,20010928,99,16.9,23.0,22.6,6,4,7,1.5000,0.8682,0.8682,77
110,20010929,83,16.9,19.8,22.1,6,5,3,-4.0000,-3.7588,-4.0000,99
111,20010930,70,15.7,18.6,20.7,7,7,7,0.0000,-1.0419,-4.0000,83

In [50]:
vm=df.isnull().sum()
print(vm)

Date      0
MaxO3     0
T9        0
T12       0
T15       0
Ne9       0
Ne12      0
Ne15      0
Vx9       0
Vx12      0
Vx15      0
MaxO3v    0
dtype: int64

In [51]:
x = df[['T9', 'T12', 'T15', 'Ne9', 'Ne12', 'Ne15', 'Vx9', 'Vx12', 'Vx15', 'MaxO3v']]
y = df['MaxO3']

In [52]:
from sklearn import preprocessing

def normalisation(data):
    columns = data.columns  # Utiliser 'data' au lieu de 'x'
    for col in columns:
        values = data[[col]].values.astype(float)
        sn = preprocessing.StandardScaler()
        result = sn.fit_transform(values)  # Correction ici
        data.loc[:, col] = result  # Utiliser .loc pour éviter l'avertissement
    return data

In [53]:
normalisation(x)

C:\Users\amine\AppData\Local\Temp\ipykernel_20488\2193956677.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.35945082  0.02765006 -1.13365259 -1.52075347  1.18895272  0.41475095
  0.80185183  0.02765006 -1.13365259  0.02765006  0.80185183  0.80185183
  0.80185183  0.80185183  1.18895272  0.41475095 -1.90785436  1.18895272
 -1.13365259 -1.52075347 -1.52075347 -1.90785436 -0.35945082  0.80185183
  0.80185183 -0.74655171  0.02765006  0.02765006 -1.90785436 -1.90785436
  1.18895272  1.18895272 -1.13365259  1.18895272  0.80185183 -0.35945082
  0.80185183  0.41475095  1.18895272  1.18895272  0.02765006  0.02765006
 -0.74655171  1.18895272  1.18895272  0.80185183  0.41475095  1.18895272
 -0.35945082  0.41475095 -1.13365259 -0.74655171 -1.52075347 -1.13365259
 -0.35945082 -1.90785436 -1.90785436 -1.52075347 -1.52075347  0.80185183
  0.02765006  0.41475095  1.18895272  1.18895272  0.80185183  0.80185183
 -0.74655171 -0.35945082 -1.52075347 -1.52075347  1.18895272 -1.52075347
  1.18895272  0.80185183  0.80185183 -1.52075347  0.41475095  0.02765006
 -0.35945082 -1.52075347  1.18895272  0.80185183 -1.52075347  0.80185183
  0.80185183  0.02765006  0.02765006 -0.35945082  1.18895272  0.80185183
 -1.13365259  0.80185183  0.41475095  0.80185183  0.02765006  1.18895272
  0.41475095  0.41475095 -0.35945082 -0.35945082  1.18895272  0.80185183
  0.80185183 -0.74655171 -1.13365259 -1.52075347  0.80185183 -0.74655171
  0.41475095  0.41475095  0.41475095  0.80185183]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[:, col] = result  # Utiliser .loc pour éviter l'avertissement
C:\Users\amine\AppData\Local\Temp\ipykernel_20488\2193956677.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.44806945 -0.00786087 -0.00786087 -1.76869522  1.31276489  0.43234772
  1.31276489 -0.00786087 -0.44806945  0.43234772  0.87255631  0.43234772
 -0.00786087  0.87255631  0.87255631 -0.00786087 -1.76869522 -0.88827804
 -1.76869522 -1.76869522 -2.2089038  -2.2089038  -0.44806945  0.43234772
  0.43234772 -0.44806945 -0.00786087 -1.32848663 -2.2089038  -1.76869522
  1.31276489  1.31276489 -0.88827804  1.31276489  0.43234772  0.87255631
  1.31276489 -0.44806945  1.31276489  1.31276489  0.87255631 -0.00786087
 -0.44806945  0.43234772  1.31276489  0.43234772  0.43234772  0.43234772
  0.87255631 -0.88827804 -0.44806945 -0.44806945 -1.76869522 -1.32848663
  0.43234772 -0.88827804 -1.76869522 -2.2089038  -0.44806945  0.87255631
  0.87255631  0.87255631  1.31276489  0.87255631  0.87255631  0.87255631
  0.43234772 -0.00786087 -1.76869522 -0.00786087  0.87255631 -0.88827804
 -0.00786087  0.87255631 -0.00786087 -1.76869522  0.43234772 -0.88827804
 -2.2089038  -1.76869522  1.31276489 -0.44806945  0.43234772  0.87255631
  0.87255631  0.87255631 -0.00786087 -0.00786087  0.87255631 -0.00786087
 -0.00786087  0.87255631 -0.00786087  1.31276489 -0.00786087  0.87255631
 -0.00786087  0.87255631 -0.00786087 -0.00786087  0.87255631  0.87255631
  0.87255631 -0.88827804 -1.32848663 -0.44806945  0.87255631 -0.00786087
 -0.00786087 -0.44806945 -0.00786087  0.87255631]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[:, col] = result  # Utiliser .loc pour éviter l'avertissement
C:\Users\amine\AppData\Local\Temp\ipykernel_20488\2193956677.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.3651524   0.93445643 -0.35763147 -2.08041534  0.93445643  0.93445643
  1.3651524  -0.35763147 -0.35763147  1.3651524  -0.78832744  1.3651524
  0.50376046  0.93445643  0.93445643 -0.35763147 -1.64971938 -1.64971938
 -2.08041534 -1.21902341 -2.08041534 -2.08041534 -2.08041534  0.50376046
  0.93445643 -0.35763147 -0.35763147 -1.64971938 -1.64971938 -0.35763147
  1.3651524   0.50376046 -0.35763147  0.07306449 -0.35763147 -0.35763147
  0.93445643  0.50376046  0.50376046  1.3651524   0.07306449  0.50376046
  0.50376046  0.50376046  1.3651524  -0.35763147  0.07306449  0.07306449
  0.50376046 -1.21902341  0.50376046 -0.78832744 -0.35763147  0.93445643
 -0.78832744  0.07306449 -0.35763147 -1.21902341 -0.35763147  1.3651524
  0.50376046  0.93445643  1.3651524   0.93445643  1.3651524   0.93445643
 -0.78832744 -0.35763147 -2.08041534 -1.21902341 -1.64971938  0.07306449
 -0.35763147  1.3651524   0.07306449 -1.21902341 -0.35763147 -0.78832744
 -1.64971938 -1.64971938  0.50376046  0.07306449 -0.78832744  0.93445643
  0.93445643  0.50376046 -0.78832744  0.50376046  0.07306449 -0.78832744
  0.50376046  0.93445643  0.93445643  1.3651524   0.50376046  0.93445643
 -1.64971938  1.3651524   0.07306449 -0.35763147  0.93445643  0.93445643
  0.50376046 -0.78832744 -1.21902341  0.50376046  0.50376046  0.50376046
  0.07306449  0.93445643 -0.78832744  0.93445643]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[:, col] = result  # Utiliser .loc pour éviter l'avertissement
C:\Users\amine\AppData\Local\Temp\ipykernel_20488\2193956677.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.23344052 -0.12686985 -0.30448763  0.05074794  0.83226619  0.12179505
 -0.37553474  0.29941284 -0.4110583   0.37045995  0.54807773  0.37045995
 -0.02029918 -0.6597232  -0.73077031 -0.26896407  1.08093108  1.93349644
 -0.34001119  1.08093108  1.96902     1.08093108  1.96902     0.61912485
 -0.26896407 -1.19257655 -0.34001119 -0.83734098 -0.73077031  0.54807773
  1.7203551  -0.4110583   0.08627149  0.22836572  0.79674263 -0.6597232
 -0.09134629 -0.48210541 -0.69524675 -1.2281001  -1.61885923 -0.83734098
 -0.83734098 -0.23344052 -0.97943521 -0.76629387  0.05074794 -0.09134629
 -0.87286454 -0.6597232  -0.34001119 -0.26896407  2.07559067  2.2176849
  2.43082624  2.07559067  2.46634979  2.32425557 -0.23344052  1.25854887
  0.9033133  -0.48210541 -0.97943521 -1.29914722 -0.90838809 -0.6597232
 -1.08600588 -0.73077031 -0.48210541  0.26388928  0.72569552 -0.55315253
  0.9033133  -0.1623934  -0.83734098 -0.51762897  0.79674263  0.93883686
  1.43616665  2.67949113  2.43082624  0.33493639  0.83226619  0.76121907
  0.37045995 -0.51762897 -1.12152943 -0.44658186 -0.51762897 -1.26362366
 -0.69524675 -0.87286454 -1.12152943 -0.80181742 -1.01495876 -0.44658186
 -0.58867608 -0.69524675 -0.76629387 -0.69524675 -1.08600588 -1.7254299
 -0.90838809 -0.69524675  0.19284216  0.26388928  0.05074794 -0.51762897
 -0.69524675 -0.48210541  0.29941284 -0.26896407]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[:, col] = result  # Utiliser .loc pour éviter l'avertissement

,T9,T12,T15,Ne9,Ne12,Ne15,Vx9,Vx12,Vx15,MaxO3v
0,-0.888045,-0.752140,-0.937279,-0.359451,-0.448069,1.365152,0.728338,-0.035606,0.356046,-0.233441
1,-0.437704,-0.776989,-1.092469,0.027650,-0.007861,0.934456,-1.188782,-0.858374,-0.468010,-0.126870
2,-0.984547,-0.975785,-0.693408,-1.133653,-0.007861,-0.357631,1.590540,1.254113,0.790522,-0.304488
3,-0.695042,-0.453946,-0.028306,-1.520753,-1.768695,-2.080415,0.839060,0.703625,0.542276,0.050748
4,-0.309035,-0.255151,-0.493878,1.188953,1.312765,0.934456,0.272551,-0.482687,-0.943449,0.832266
...,...,...,...,...,...,...,...,...,...,...
107,-1.627892,-0.950935,-1.070299,-0.746552,-0.007861,0.503760,0.463320,0.219536,0.144795,-0.517629
108,-0.695042,-0.180602,-0.116987,0.414751,-0.007861,0.073064,0.198303,-0.139768,0.115306,-0.695247
109,-0.469871,0.366086,-0.006136,0.414751,-0.448069,0.934456,1.035629,0.890786,0.914663,-0.482105
110,-0.469871,-0.429097,-0.116987,0.414751,-0.007861,-0.788327,-1.062836,-0.771710,-0.825457,0.299413
111,-0.855878,-0.727290,-0.427368,0.801852,0.872556,0.934456,0.463320,0.204481,-0.825457,-0.268964

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [55]:
model = LinearRegression()
model.fit(X_train, y_train)
print("Coefficients du modèle : ", model.coef_)
print("Intercept du modèle : ", model.intercept_)

Coefficients du modèle :  [-2.25219348 14.08242889 -2.097561   -4.27353114 -2.58822641  0.58677735
  1.05447401  2.9527671  -0.50603117 11.17794224]
Intercept du modèle :  89.83962507561131

In [56]:
import numpy as np
y_pred = model.predict(X_test)

print("Régression simple: RMSE = ", np.sqrt(mean_squared_error(y_test, y_pred)))
print("Score R2=",r2_score(y_test,y_pred))

Régression simple: RMSE =  17.097056512895104
Score R2= 0.7301791313697443

In [57]:
y_pred_test = model.predict(X_test)

print("Prédictions sur les données de test :")
print(y_pred)

Prédictions sur les données de test :
[ 80.9425785   61.69778685  84.58391604  61.48317262  51.24295561
  88.58726428  82.84511578 119.70680292  69.95483589  86.00197404
 110.26461187 151.5396129  119.74927031  77.61963456  71.67754362
 164.34323529  81.49751262 104.6225944  106.85882876 100.51838068
 144.3100109   89.30079935 114.68957068]

In [58]:
rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
r2_test = r2_score(y_test, y_pred_test)

print(f'RMSE sur les données de test : {rmse_test}')
print(f'R² sur les données de test : {r2_test}')

RMSE sur les données de test : 17.097056512895104
R² sur les données de test : 0.7301791313697443